<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  GitHub: <a href="https://github.com/jclu81/sample_app">https://github.com/jclu81/sample_app</a>.
  <br/>
  Linkdin: <a href="https://www.linkedin.com/in/will-lu">https://www.linkedin.com/in/will-lu</a>.
  <br/>
  Blog: <a href="http://jcluck.com/">http://jcluck.com</a>.
  <br/>
  Phone: (949)232-3577
  <br/>
  Email: <a href="mailto:jingchl3@uci.edu">jingchl3@uci.edu</a>
</p>