<div class="center jumbotron">

  <% if logged_in? %>
    <h1>Welcome! <%= @current_user.name%></h1>

  <% else %>
    <h1>This is a Room Management System</h1>

    <h2>
      This is the home page for the Room Management System.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<%= image_tag("kitten.png", alt: "kitten logo") %>