<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <% current_user.rooms.each do |room| %>
        <li>
          <%= link_to room.name, room %>
            | <%= link_to "delete", current_user.active_relationships.find_by(room_id: room.id), method: :delete,
                          data: { confirm: "You sure?" } %>
        </li>
      <% end %>
    </section>
  </aside>
</div>