<footer class="footer">
  <small>
    The <a href="https://github.com/jclu81/sample_app">Room Management System</a>
    by <a href="http://jcluck.com/">Will</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>